<h1>List of all Users in the database</h1>

<%= form_tag '/', method: :get do %>
  <%= search_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<br/>



    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Tealeaf Academy Todo</h3>
        </div>
        <div class="col-xs-9">
          <%= 

		    <% @users.each do |u| %>
		      <%= u.email %>
			  <p> The name is <%= u.name %> </p> </br>
			  <p> The email is <%= u.email %> </p> </br>
			  <p> The id is <%= u.id %> </p> </br>
			<%end%>
			

           %>
        </div>
      </div>
    </div>

<%= @users.count%>
