this is the index for controller items

<h1>All the items in the product database!</h1>
<p><%= notice %></p>

<h3><%= link_to "+ Add New Fashion Item", new_item_path %></h3>

<%= form_tag items_path, method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<br/>





  <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Mentions</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @items.each do |indiv_item| %>

            <tr>
              <td>  <%= link_to item_path(indiv_item) do %> 
                  <%= image_tag "#{indiv_item.image}", :class => "maximage" %>
                  <% end %></br> 
                  <%#= link_to 'www.localhost:3000/link/sdlkfjdljkfa', http://www.cnn.com %> </td>
              <td><%= indiv_item.name %></td>
              <td><%= indiv_item.classification %></td>
              <td><%= rand 10...70 %> </td>
              <td>$<%= indiv_item.price_web %></td>
              <td><%= link_to 'Show', indiv_item %></td>
              <td><%= link_to 'Edit', edit_item_path(indiv_item) %></td>
              <td><%= link_to 'Destroy', indiv_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <%end%>
        </tbody>
    </table>
