<h1>List of all your instagram posts in the database</h1>

<%= form_tag '/', method: :get do %>
  <%= search_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>


<%#= render 'guesses/guess_box', guesses: indiv_post.guesses %>
<%#= form_for indiv_post.guesses.build %>

<br/>

    	    <% @posts.each do |indiv_post| %>
    	<div class ="row">
    		<div class = "col-md-5">
    				<%= link_to post_path(indiv_post) do %> 
              <%= image_tag "#{indiv_post.photo_standard_res}" %>
            <% end %>
    		</div>
    		<div class = "col-md-7">
  				<div class = "row">
                    <%= simple_form_for @guess do |f| %>
                      <%= f.input :item %>
                      <%= f.submit %>
                    <% end %>
  				</div>

                <div class = "row">
                    <p> <%= "Number of likes #{indiv_post.likes}"%> </p>
                    <p> <%= "Number of comments #{indiv_post.comment_count}"%> </p>
                    <p> <%= indiv_post.tastemaker.tastemaker_instagram_id%> </p>
                    <p> <%= indiv_post.tastemaker.tastemaker_full_name%> </p>
                    <p> <%= indiv_post.tastemaker.tastemaker_instagram_username%> </p>
                    <p> <%= indiv_post.link%> </p>
                </div>


  				<div class = "row"> 
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Username</th>
                        <th>Confirmed?</th>
                    </tr>
                </thead>
                <tbody>
                  <% indiv_post.comments.each do |individ_comment| %>
                    <tr>
                        <td> <%= individ_comment.text_field%>       </td>
                        <td> <%= individ_comment.tastemaker.tastemaker_instagram_username%> </td>
                        <td> <%= individ_comment.confirmed_comment%>  </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>

            <%#= render 'comments'%> 
  				</div>
    		</div>
    	</div>
    </br></br></br>
<%end%>
<%= @posts.count%>



