<div class = container>
</br></br></br></br></br>
	<div class ="row">
	<div class = "col-md-5">
			<%= image_tag "#{@post.photo_standard_res}"%> 
	</div>
	<div class = "col-md-7">
			<div class = "row">
			<p> <%= "Number of likes #{@post.likes}"%> </p>
			<p> <%= @post.tastemaker.tastemaker_instagram_id%> </p>
			<p> <%= @post.tastemaker.tastemaker_full_name%> </p>
			<p> <%= @post.tastemaker.tastemaker_instagram_username%> </p>
			<p> <%= @post.tastemaker.tastemaker_profile_pict %> </p>
			<p> <%= @post.tastemaker.tastemaker_influence_score %> </p>
			</div>
			<div class = "row"> 
            <%= render 'comments'%>
			</div>
</div>

<%= simple_form_for @post do |f| %>
  <%= f.association :tastemaker %>
  <%= f.button :submit %>
<% end %>

<%#= form_for @tastemaker(params) do |f| %>
  <%#= f.input :elite_tastemaker %>
  <%#= f.input :fashion_tastemaker %>
  <%#= f.button :submit %>
