<div class = "col-md-5">
		<%= link_to instagram_path(indiv_post) do %> 
  <%= image_tag "#{indiv_post.photo_standard_res}" %>
<% end %>
</div>
<div class = "col-md-7">
		<div class = "row">
<p> <%= "Number of likes #{indiv_post.likes}"%> </p>
<p> <%= "Number of comments #{indiv_post.comment_count}"%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_instagram_id%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_full_name%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_instagram_username%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_profile_pict%> </p>
		</div>
		<div class = "row"> 
<%= render 'comments'%> -->
		</div>
</div>
