<br/>

<p> <%= image_tag @post.photo_standard_res %> </p> </br>
<p> <%= image_tag @post.photo_low_res %></td></p>
<p> <%= image_tag @post.photo_thumbnail_res %> </p> </br>
<p> <%= @post.tastemaker.tastemaker_instagram_id%> </p> </br>
<p> <%= @post.tastemaker.tastemaker_full_name%> </p> </br>
<p> <%= @post.tastemaker.tastemaker_instagram_username%> </p> </br>
<p> <%= @post.tastemaker.tastemaker_profile_pict%> </p> </br>
<p> <%= @post.link%> </p> </br>
<p> <%= @post.post_type%> </p> </br>
<p> <%= @post.instagram_post_created_time%> </p> </br>
<p> <%= "Number of likes #{@post.likes}"%> </p> </br>
<p> <%= @post.instagram_post_id %> </p> </br>
<p> <%= @post.created_at%> </p> </br>
<p> <%= @post.updated_at%> </p> </br>


