
<div class ="row">
	<div class = "col-md-5">
			<%= image_tag "#{indiv_post.photo_standard_res}"%> 
	</div>
	<div class = "col-md-7">
			<div class = "row">
			<p> <%= "Number of likes #{indiv_post.likes}"%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_instagram_id%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_full_name%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_instagram_username%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_profile_pict%> </p>
			</div>
			<div class = "row"> 
			<p> <%= "Number of likes #{indiv_post.likes}"%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_instagram_id%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_full_name%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_instagram_username%> </p>
		<p> <%= indiv_post.tastemaker.tastemaker_profile_pict%> </p>
			</div>
	</div>
</div>