<div class = container>
</br></br></br></br></br>
	<div class ="row">
	<div class = "col-md-5">
			<%= image_tag "#{@post.photo_standard_res}"%> 
	</div>
	<div class = "col-md-7">
			<div class = "row">
			<p> <%= "Number of likes #{@post.likes}"%> </p>
		<p> <%= @post.tastemaker.tastemaker_instagram_id%> </p>
		<p> <%= @post.tastemaker.tastemaker_full_name%> </p>
		<p> <%= @post.tastemaker.tastemaker_instagram_username%> </p>
		<p> <%= @post.tastemaker.tastemaker_profile_pict%> </p>
			</div>
			<div class = "row"> 
			<p> <%= "Number of likes #{@post.likes}"%> </p>
		<p> <%= @post.tastemaker.tastemaker_instagram_id%> </p>
		<p> <%= @post.tastemaker.tastemaker_full_name%> </p>
		<p> <%= @post.tastemaker.tastemaker_instagram_username%> </p>
		<p> <%= @post.tastemaker.tastemaker_profile_pict%> </p>
	</div>
</div>